{% extends 'template.html' %}

{% block title %}{{ title }} - 杯子音乐网{% endblock %}
{% block keywords %}MV,{{ title }},高清MV,MV视频,音乐MV,在线MV,MV大全,杯子音乐网{% endblock %}
{% block description %}杯子音乐网{{ title }},提供{{ title }}高清MV视频在线观看,流行音乐MV,华语MV,欧美MV,日韩MV,免费观看高清音乐MV视频。{% endblock %}

{% block content %}
<div class="main">
    <div class="layui-container">
        {% for filter in filters %}
        <div class="ilingku_fl">
            <li>{{ filter.label }}</li>
            {% for option in filter.options %}
            <li><a href="{{ option.link }}" {% if option.current %}class="current"{% endif %}>{{ option.title }}</a></li>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="video_list">
            <div class="title">
                <h1>{{ title }}</h1>
                {% if total %}<div class="pagedata">共有：<span>{{ total }}</span>个视频</div>{% endif %}
            </div>
            <ul>
                {% for video in videos %}
                <li>
                    <div class="pic"><a href="{{ video.link }}" target="_blank"><img src="{{ video.pic }}" alt="{{ video.title }}"><div class="play"><span class="fa fa-play"></span></div></a></div>
                    <div class="name"><a href="{{ video.link }}" title="{{ video.title }}" target="_blank">{{ video.title }}</a></div>
                </li>
                {% endfor %}
            </ul>
            {% if pagination.links %}
            <div class="page">
                {% for link in pagination.links %}
                <a class="{{ link.class }}" {% if link.href %}href="{{ link.href }}"{% endif %}>{{ link.text }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include 'common_html/footer.html' %}
{% endblock %}
