{% extends 'template.html' %}

{% block title %}{{ playlist.title }}歌单 - 杯子音乐网{% endblock %}
{% block keywords %}{{ playlist.title }},歌单,歌单列表,歌单曲目,歌单歌曲,在线歌单,杯子音乐网,爱听音乐网{% endblock %}
{% block description %}杯子音乐网{{ playlist.title }}歌单,共收录{{ total }}首歌曲,{{ playlist.info }}在线试听歌单内全部歌曲。{% endblock %}

{% block content %}
<div class="main">
    <div class="layui-container">
        <div class="singer_info">
            <div class="pic">
                <img src="{{ playlist.pic }}" alt="{{ playlist.title }}">
                <span class="play"></span>
            </div>
            <div class="list_r">
                <h1>{{ playlist.title }}</h1>
                <div class="info">
                    <p style="overflow-y:auto; ">{{ playlist.info }}</p>
                </div>
            </div>
        </div>
        <div class="play_list">
            <div class="title">
                <h1>歌单歌曲列表</h1>
                <div class="pagedata">共有<span>{{ total }}</span>首歌曲</div>
            </div>
            <ul>
                {% for song in songs %}
                <li>
                    <div class="name"><a href="{{ song.link }}" target="_mp3">{{ song.title }}</a></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if pagination.links %}
        <div class="page">
            {% for link in pagination.links %}
            <a class="{{ link.class }}" {% if link.href %}href="{{ link.href }}"{% endif %}>{{ link.text }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% include 'common_html/footer.html' %}
{% endblock %}
