<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="baidu-site-verification" content="codeva-D86XF7EVRs" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}杯子音乐网(bezimusic.Com)音乐下载|Mp3歌曲免费下载|DJ舞曲|免费音乐网|歌词下载{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}杯子音乐网,Mp3歌曲免费下载,DJ舞曲,免费音乐下载,免费音乐网,歌词下载,mp3下载,音乐免费下载,MP4下载,视频下载,DJ舞曲{% endblock %}" />
    <meta name="description" content="{% block description %}杯子音乐网（www.bezimusic.com）Mp3歌曲免费下载,DJ舞曲下载,MP3免费下载,音乐免费下载,mp3歌曲免费下载,mp3下载,音乐免费下载,MP4下载,视频下载,DJ舞曲排行,网络音乐排行,网络热门歌曲,网络歌曲,经典老歌,搞笑歌曲,儿童歌曲,英文歌曲等。收录了网上最新歌曲和流行音乐,网络歌曲,好听的歌,经典老歌,搞笑歌曲,儿童歌曲,英文歌曲。是您寻找好听的歌首选的免费音乐网。{% endblock %}" />
    <link rel="shortcut icon" href="/media/favicon.ico">
    <link rel="bookmark" href="/media/favicon.ico">
    <link rel="stylesheet" href="/static/css/base.css?v=v1.6" />
    <link rel="stylesheet" href="/static/layui/css/layui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/layui/js/layui.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/common.js?v=v2.2"></script>
    {% block head %}{% endblock %}

</head>

<body>
    {% include 'common_html/headers.html' %}
    {% block content %}{% endblock %}

    {% block js %}{% endblock %}
    
</body>

</html>