{% include 'common_html/friend_links.html' %}

<footer class="lkpc">
    <div class="layui-container">
        <div class="desc">
            <p>郑重声明：本站立足于美利坚合众国，受北美法律保护，请根据当地的法律法规访问本站。</p>
            <p>免责声明：本站非营利性网站，所有数据自动收录,版权来自各网站,本站不提供任何音频存储和贩卖服务</p>
            <p>若本站收录的歌曲无意侵犯了你的权益，请来信告知，我们会及时处理和回复！联系邮箱 3766849790#qq.com </p>
        </div>
    </div>
</footer>

<div class="mfooter lkmobile">
    <p>声明：本站不存储任何音频数据，站内歌曲来自搜索引擎，如有侵犯版权请及时联系我们，我们将在第一时间处理！</p>
</div>

<div class="fed-tabr-info fed-back-whits fed-min-width fed-line-top lkmobile">
	<ul class="fed-part-rows">
		<li class="fed-text-center"><a class="fed-visible" href="/"><i class="fed-icon-font fa fa-home"></i><span class="fed-font-xii">首页</span></a></li>
		<!-- 原名称：排行 -->
		<li class="fed-text-center"><a class="fed-visible" href="/list/top.html"><i class="fed-icon-font fa fa-line-chart"></i><span class="fed-font-xii">热榜</span></a></li>
		<li class="fed-text-center"><a class="fed-visible" href="/playtype/index.html"><i class="fed-icon-font fa fa-music"></i><span class="fed-font-xii">歌单</span></a></li>
		<li class="fed-text-center"><a class="fed-visible" href="/singerlist/index/index/index/index.html"><i class="fed-icon-font fa fa-user"></i><span class="fed-font-xii">歌手</span></a></li>
		<!-- 原名称：MV -->
		<li class="fed-text-center"><a class="fed-visible" href="/mvlist/index.html"><i class="fed-icon-font fa fa-video-camera"></i><span class="fed-font-xii">映像</span></a></li>
			</ul>
</div>
<script>
!function(p){"use strict";!function(t){var s=window,e=document,i=p,c="".concat("https:"===e.location.protocol?"https://":"http://","sdk.51.la/js-sdk-pro.min.js"),n=e.createElement("script"),r=e.getElementsByTagName("script")[0];n.type="text/javascript",n.setAttribute("charset","UTF-8"),n.async=!0,n.src=c,n.id="LA_COLLECT",i.d=n;var o=function(){s.LA.ids.push(i)};s.LA?s.LA.ids&&o():(s.LA=p,s.LA.ids=[],o()),r.parentNode.insertBefore(n,r)}()}({id:"3QisJxfuIZ0dJgUf",ck:"3QisJxfuIZ0dJgUf"});
</script>